<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcadamy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studINSERT</display-name>
    <servlet-name>studINSERT</servlet-name>
    <servlet-class>com.prajval.studINSERT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studINSERT</servlet-name>
    <url-pattern>/studINSERT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentRETRIVE</display-name>
    <servlet-name>studentRETRIVE</servlet-name>
    <servlet-class>com.prajval.studentRETRIVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentRETRIVE</servlet-name>
    <url-pattern>/studentRETRIVE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentUPDATE</display-name>
    <servlet-name>studentUPDATE</servlet-name>
    <servlet-class>com.prajval.studentUPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentUPDATE</servlet-name>
    <url-pattern>/studentUPDATE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBtecher</display-name>
    <servlet-name>SUBtecher</servlet-name>
    <servlet-class>com.prajval.SUBtecher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBtecher</servlet-name>
    <url-pattern>/SUBtecher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subtechRETRIVE</display-name>
    <servlet-name>subtechRETRIVE</servlet-name>
    <servlet-class>com.prajval.subtechRETRIVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subtechRETRIVE</servlet-name>
    <url-pattern>/subtechRETRIVE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subtechUPDATE</display-name>
    <servlet-name>subtechUPDATE</servlet-name>
    <servlet-class>com.prajval.subtechUPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subtechUPDATE</servlet-name>
    <url-pattern>/subtechUPDATE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSubINSERT</display-name>
    <servlet-name>NewSubINSERT</servlet-name>
    <servlet-class>com.prajval.NewSubINSERT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSubINSERT</servlet-name>
    <url-pattern>/NewSubINSERT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBTECHERretrive</display-name>
    <servlet-name>SUBTECHERretrive</servlet-name>
    <servlet-class>com.prajval.SUBTECHERretrive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBTECHERretrive</servlet-name>
    <url-pattern>/SUBTECHERretrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCLASS</display-name>
    <servlet-name>addCLASS</servlet-name>
    <servlet-class>com.prajval.addCLASS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCLASS</servlet-name>
    <url-pattern>/addCLASS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classLIST</display-name>
    <servlet-name>classLIST</servlet-name>
    <servlet-class>com.prajval.classLIST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classLIST</servlet-name>
    <url-pattern>/classLIST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NEWaddedCLASS</display-name>
    <servlet-name>NEWaddedCLASS</servlet-name>
    <servlet-class>com.prajval.NEWaddedCLASS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NEWaddedCLASS</servlet-name>
    <url-pattern>/NEWaddedCLASS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBlistRETRIVE</display-name>
    <servlet-name>SUBlistRETRIVE</servlet-name>
    <servlet-class>com.prajval.SUBlistRETRIVE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBlistRETRIVE</servlet-name>
    <url-pattern>/SUBlistRETRIVE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UPDATESUBJECT</display-name>
    <servlet-name>UPDATESUBJECT</servlet-name>
    <servlet-class>com.prajval.UPDATESUBJECT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPDATESUBJECT</servlet-name>
    <url-pattern>/UPDATESUBJECT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RETRIVEREPORT</display-name>
    <servlet-name>RETRIVEREPORT</servlet-name>
    <servlet-class>com.prajval.RETRIVEREPORT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RETRIVEREPORT</servlet-name>
    <url-pattern>/RETRIVEREPORT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GETREPORT</display-name>
    <servlet-name>GETREPORT</servlet-name>
    <servlet-class>GETREPORT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GETREPORT</servlet-name>
    <url-pattern>/GETREPORT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUBtecherDELETE</display-name>
    <servlet-name>SUBtecherDELETE</servlet-name>
    <servlet-class>com.prajval.SUBtecherDELETE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUBtecherDELETE</servlet-name>
    <url-pattern>/SUBtecherDELETE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studDELETE</display-name>
    <servlet-name>studDELETE</servlet-name>
    <servlet-class>com.prajval.studDELETE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studDELETE</servlet-name>
    <url-pattern>/studDELETE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DELETEstuds</display-name>
    <servlet-name>DELETEstuds</servlet-name>
    <servlet-class>com.prajval.DELETEstuds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DELETEstuds</servlet-name>
    <url-pattern>/DELETEstuds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subDELETES</display-name>
    <servlet-name>subDELETES</servlet-name>
    <servlet-class>com.prajval.subDELETES</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subDELETES</servlet-name>
    <url-pattern>/subDELETES</url-pattern>
  </servlet-mapping>
</web-app>